* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* overflow:hidden; */
}

a {
   text-decoration: none;
   color: #555;
}

ul {
   list-style-type: none;
}

.imgw {
   flex-basis: 50%;
}

.imgw img {
   width: 100%;
}

html {
   scroll-behavior: smooth;
}

.slide2 {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 108vh;
   /* padding: 70px 0 120px 0; */
   background-image: url(../images/child1bg.jpg);
   margin-top: 100px;
}

.slide {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100vh;
   /* padding: 70px 0 120px 0; */
   background-image: url(../images/bg1.jpg);
   margin-top: 50px;
   animation: animate 15s ease-in infinite;
}

@keyframes animate {
   0% {
      background-image: url(../images/bg1.jpg);
   }

   35% {
      background-image: url(../images/child1bg.jpg);
   }

   60% {
      background-image: url(../images/childbg2.jpg);
   }

   100% {
      background-image: url(../images/childbg4.jpg);
   }

   /* 50% {
      background-image: url(../images/bgimg4.jpg);
   }

   100% {
      background-image: url(../images/slide1.jpg);
   } */
}

ul {
   list-style: none;
}

body {
   font-family: 'Libre Baskerville',
      serif;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

ul {
   list-style: none;
}

footer {
   background: #cd9c35;
   margin-top: 100px;
   font-family: poppins;
}

.ffflex {
   display: flex;
   justify-content: space-around;
   padding-top: 60px;
   width: 89%;
   margin: auto;
   padding-bottom: 40px
}

.firstaxis {
   color: #ebebeb;
}

.firstaxis img {
   margin-bottom: 40px;
}

.firstaxis h2 {
   font-size: 18px;
}

.firstaxis p {
   font-size: 15px;
   line-height: 2;
   color: white;
}

.secondaxis {
   color: #ebebeb;
}

.secondaxis h2 {
   font-size: 18px;
   margin-top: 30px;
}

.secondaxis p {
   font-size: 12px;
   line-height: 2;
   color: #bbbab9;
}

.fbg {
   background: #cd9c35;
   padding-top: 5px;
   font-family: 'Millik';
   /* padding-bottom: 80px; */
}

.secondaxis li a {
   color: white;
}

.secondaxis img {
   margin-bottom: 20px;
}

.secondaxis li {
   margin-bottom: 20px;
}

.fflex {
   display: flex;
}

h2 {
   font-family: 'Millik';
   font-weight: 200;
   font-size: 25px;
   margin-bottom: 35px;
}

body {
   font-family: 'Libre Baskerville',
      serif;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

.buttond {
   background: #cd9c35;
   border: none;
   padding: 0.8rem 2rem;
}

.buttondtext {
   font-size: 18px;
   color: white;
}

/* html {
  scroll-behavior: smooth;
} */

/* Header styling begins */

.header {
   height: 5rem;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   transform: translateY(-100%);
   transition: transform 0s 0s;
}

header#hiding .header__inner {
   transition-delay: 0s;
}

header#hiding .background {
   transition-delay: 0.3s;
}

header#hiding {
   transition-delay: 0.9s;
}

.header.show {
   transform: translateY(0);
}

.header.show .header__inner {
   opacity: 1;
   background: #282C32;
}

.header .background {
   background: black;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   transform: translateY(-100%);
   transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.header.show.with__background .background {
   transform: translateY(0);
}

.header .header__inner {
   height: 100%;
   width: 100%;
   display: flex;
   opacity: 0;
   transition: opacity 0.2s 0.6s;
}

.header__logo {
   flex-grow: 1;
   overflow: hidden;
   margin: auto 0;
}

.header__logo a {
   display: block;
   width: 10rem;
   margin: 0 1.5rem;
}

.header__logo a img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.header__navigation {
   flex-grow: 2;
   display: none;
   justify-content: space-between;
   align-items: center;
}

.header__navigation ul li {
   margin: 0 3rem;
   display: inline-block;
}

.header__navigation .nav__link {
   font-weight: bold;
   font-size: 0.8rem;
   color: white;
   text-transform: uppercase;
   position: relative;
}

.header__navigation .shop__container {
   flex-basis: 5rem;
   text-align: center;
}

.header__navigation .nav__link:after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 1px;
   background: white;
   transform: scaleX(0);
   transform-origin: right center;
   transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__navigation .nav__link:hover:after {
   transform: scaleX(1);
   transform-origin: left center;
}


/* Header styling ends */

/* Hamburger styling begins. */

.hamburger {
   display: grid;
   place-items: center;
   cursor: pointer;
   transition-property: opacity, filter;
   transition-duration: 0.15s;
   transition-timing-function: linear;
   font: inherit;
   color: inherit;
   text-transform: none;
   background-color: transparent;
   border: 0;
   margin: 0 2rem;
   overflow: visible;
}

.hamburger:focus {
   outline: none;
}

.hamburger:hover {
   opacity: 0.7;
}

.hamburger.is-active:hover {
   opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
   background-color: white;
}

.hamburger-box {
   width: 20px;
   height: 20px;
   display: inline-block;
   position: relative;
}

.hamburger-inner {
   display: block;
   top: 50%;
   margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
   width: 100%;
   height: 2px;
   background-color: white;
   border-radius: 4px;
   position: absolute;
   transition-property: transform;
   transition-duration: 0.15s;
   transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
   content: '';
   display: block;
}

.hamburger-inner::before {
   top: -7px;
}

.hamburger-inner::after {
   bottom: -7px;
}

/*
   * Emphatic
   */
.hamburger--emphatic {
   overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
   transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
   left: 0;
   transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
      top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
   top: 7px;
   right: 0;
   transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
      top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
   transition-delay: 0s;
   transition-timing-function: ease-out;
   background-color: transparent !important;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
   left: -80px;
   top: -80px;
   transform: translate3d(80px, 80px, 0) rotate(45deg);
   transition: left 0.125s ease-out, top 0.05s 0.125s linear,
      transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
   right: -80px;
   top: -80px;
   transform: translate3d(-80px, 80px, 0) rotate(-45deg);
   transition: right 0.125s ease-out, top 0.05s 0.125s linear,
      transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Hamburger styling ends. */

/* Navigation begins. */
/* Navigation begins. */

.navigation__menu {
   position: fixed;
   top: 0;
   right: 0;
   background: white;
   z-index: 5;
   width: 90%;
   max-width: 20rem;
   height: 100%;
   transform: translateX(100%);
   transition: all 0.5s ease-in-out;
}

.navigation__menu ul {
   width: 80%;
   /* margin: 0 auto; */

   margin-top: 8rem;
   /* text-align: right; */
}

.navigation__menu ul li {
   transform: translateY(100%);
   transition: all 1s 0.6s;
   opacity: 0;
}

.navigation__menu ul li a {
   display: block;
   font-size: 1rem;
   line-height: 40px;
   font-weight: 500;
   text-transform: uppercase;
   /* border-bottom: 1pt solid #252525; */
   transition: color 0.4s cubic-bezier(0.25, 1, 0.25, 1);
}

.navigation__menu ul li a:hover {
   color: #8b939b;
}

.navigation__menu.open {
   transform: translateX(0);
}

.navigation__menu.open ul li {
   opacity: 1;
   margin-bottom: 40px;
   transform: translateY(0);
}

/* Navigation ends. */

/* Hero  */

.herocontainer {
   width: 85%;
   margin: auto;
}

.slidetext h2 {
   font-size: 70px;
   color: white;
   padding-top: 150px;
   line-height: 5rem;
   font-weight: 400;
}

.slidetext p {
   color: white;
   font-size: 20px;
   margin-top: -15px;
   font-weight: 300;
   line-height: 1.7rem;
   font-family: 'gotham';
}

.slidetext button a {
   color: white;
}

.slidetextt button a {
   color: white;
}

.slidetext button {
   color: white;
   margin-top: 30px;
   margin-bottom: 60px;
   border: 2px solid #cd9c35;
   padding-top: 13px;
   padding-bottom: 14px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: transparent;
   font-family: 'Montserrat', sans-serif;
   font-weight: 100px;
   font-size: 14px;
}

.underherobg {
   background: #CD9C35;
   padding-top: 60px;
   padding-bottom: 50px;
   margin-bottom: 100px;
}

.underhero {
   color: white;
   display: flex;
   justify-content: space-between;
   width: 85%;
   margin: auto;
}

.underhero h2 {
   font-size: 26px;
}

.underhero p {
   margin-top: -20px;
   font-size: 15px;
}

.underherobutton button {
   background: #282C32;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 20px;
   padding-right: 20px;
   color: white;
   font-weight: 700;
   font-size: 17px;
   border: none;
}

/* third line */

.thirdcontainer {
   width: 85%;
   margin: auto;
   margin-top: 170px;
}

.line {
   border-left: 5px solid #CD9C35;
   height: 65px;
}

.lineflex {
   display: flex;
   justify-content: space-between;
}

.third {
   display: flex;
   margin-left: 20px;
   justify-content: space-between;
}

.smallhead p {
   margin-top: 40px;
   margin-left: -10px;
   line-height: 2rem;
   font-size: 17px;
}

.smallhead h4 {
   font-weight: 1000;
   font-size: 15px;
   margin-left: 30px;
   color: #cd9c35;
}

.smallhead h3 {
   margin-top: 12px;
   font-weight: 1500;
   font-size: 25px;
   margin-left: 30px
}

.smallhead button {
   color: black;
   margin-top: 30px;
   margin-bottom: 60px;
   border: 2px solid #cd9c35;
   padding-top: 9px;
   padding-bottom: 12px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: transparent;
   font-family: 'Montserrat', sans-serif;
   font-weight: 100px;
   font-size: 13px;
   margin-left: -10px;
}

/* fourth */
.square {
   height: 20px;
   width: 20px;
   margin-left: 20px;
   background-color: #cd9c35;
}


.squareflex {
   display: flex;
}

.fourth {
   padding-top: 5px;
   padding-bottom: 50px;
   margin-bottom: 50px;
   margin-top: 130px;
   background: #F7F6F6;
}

.things {
   margin-top: -45px;
   margin-left: 30px;
   font-size: 30px;
}

.squareflexmain {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}

/* second bg */

.slidetextt h1 {
   align-items: center;
   margin: auto;
   color: white;
   text-align: center;
   font-weight: 900;
   margin-top: 100px;
   font-size: 90px;
   margin-bottom: 20px;
}

.slidetextt {

   padding-top: 90px;
}

.slidetextt p {
   font-size: 25px;
   line-height: 2.5rem;
   align-items: center;
   margin: auto;
   margin-bottom: 30px;
   color: white;
   font-weight: 300;
   text-align: center;
}

.slidetextt button {
   color: white;
   border: 2px solid #cd9c35;
   padding-top: 13px;
   padding-bottom: 14px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: transparent;
   font-family: 'Montserrat', sans-serif;
   font-weight: 100px;
   font-size: 14px;
   text-align: center;
   margin: auto;
   align-items: center;
   display: flex;
}

.herobtnn {
   text-align: center;
   margin: auto;
   align-items: center;
   margin-top: 100px;
}

.things .years {
   margin-top: 0px;
   /* margin-left: -10px; */
   line-height: 2rem;
   font-size: 18px;
   color: #cd9c35;
   font-weight: 900;
}

.things .teengoals {
   font-weight: bolder;
   font-size: 22px;
   padding-right: 10px;
}


@media screen and (min-width: 100px) {

   .buttond {
      background: #cd9c35;
      border: none;
      margin-left: 30px;
      padding: 0.8rem 2rem;
   }
}

@media screen and (min-width: 200px) {

   .buttond {
      background: #cd9c35;
      border: none;
      margin-left: 30px;
      padding: 0.8rem 2rem;
   }
}

@media (min-width: 280px) {
   /* .slidetextt h1 {
      align-items: center;
      margin: auto;
      color: white;
      text-align: center;
      font-weight: 900;
      margin-top: 100px;
      font-size: 10px;
      margin-bottom: 20px;
   } */

   .buttond {
      background: #cd9c35;
      border: none;
      margin-left: 30px;
      padding: 0.8rem 2rem;
   }
}

@media screen and (man-width: 600px) {
   .slidetext h2 {
      font-size: 50px;
      color: white;
      padding-top: 150px;
      line-height: 3.8rem;
      font-weight: 400;
   }

   .slidetextt h1 {
      align-items: center;
      margin: auto;
      color: white;
      text-align: center;
      font-weight: 900;
      margin-top: 100px;
      font-size: 250px;
      margin-bottom: 20px;
   }

   .slidetextt p {
      font-size: 15px;
      line-height: 2.5rem;
      align-items: center;
      margin: auto;
      margin-bottom: 30px;
      color: white;
      font-weight: 300;
      text-align: center;
   }

   .header .header__logo a {
      width: 13rem;
   }

   .footer .footer__list {
      width: 90%;
   }
}

@media screen and (min-width: 900px) {

   .mission__container .bottom__content {
      left: 4rem;
      max-width: 600px;
   }

   /* .mission__container .bottom__content .bottom__content__header {
    font-size: 2.5rem;
    margin: 1rem 0;
  } */

   .mission__container .bottom__content .bottom__content__subheader {
      font-size: 1.5rem;
   }

   .footer .footer__list {
      width: 60%;
   }
}

@media screen and (min-width: 1200px) {
   .header__navigation {
      display: flex;
   }

   .hamburger {
      visibility: hidden;
   }

   /* .mission__container .bottom__content {
    left: 6rem;
  } */

   /* .mission__container .bottom__content .bottom__content__header {
    font-size: 3rem;
  } */

   .mission__container .bottom__content .content__button .text {
      padding: 1.5rem 3rem;
   }

   .header {
      height: 6.5rem;
   }

   .header .header__logo {
      flex-grow: 0;
      margin-left: 6rem;
      margin-right: 2rem;
   }

   .header .header__logo a {
      width: 15rem;
   }

   .navigation__menu {
      max-width: 30rem;
   }

   .footer .footer__list {
      width: 50%;
   }
}

@media screen and (min-width: 1600px) {
   .mission__container .bottom__content {
      left: 15rem;
   }

   .header .header__logo {
      margin-left: 15rem;
   }

   .footer .footer__list {
      width: 40%;
   }
}

/* iphone 6, 6s, 7, 8 */
/* @media only screen and (min-device-width: 200px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .wwaflex {
        display: block;
    }
} */

@media screen and (max-width: 1100px) {


   .wwaflex {
      display: block;
      margin: auto;
   }

   .wwa img {
      width: 100%;
   }

   .row {
      display: block;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 89%;
      margin-bottom: 100px;
   }

   .col22 img {
      width: 100%;
   }

   .col2 {
      flex-basis: 70%;
      font-size: 0.9rem;
      padding-left: 0;
   }

   .wwaflex2 {
      display: block;
      align-items: top;
      margin: auto;
      width: 89%;
      margin-top: 90px;
      /* padding-bottom: 150px; */
   }

   .wwaimage2 img {
      width: 100%;
      margin-top: 70px;
   }

   .circle h1 {
      margin: auto;
      text-align: center;
      margin-top: 70px;
   }



   .footer {
      width: 100%;
      height: 120vh;
      padding: 70px 0 0px 0;
   }


   /* .cccontainer {
        text-align: center;
        margin: auto;
        padding-top: -15px;
        padding-bottom: 0;
        width: 80%;
    } */
}

@media screen and (max-width: 1005px) {

   .fflex {
      display: block;
      justify-content: space-around;
      padding-top: 55px;
      padding-bottom: 20px;
   }
}

@media screen and (max-width: 375px) {
   .footer {
      width: 100%;
      height: 150vh;
      padding: 70px 0 0px 0;
   }

   .card h2 {
      color: white;
      font-size: 2rem;
      line-height: 3.5rem;
   }

   .card {
      margin: auto;
   }
}

@media (max-width: 600px) {
   .slidetext h2 {
      font-size: 50px;
      color: white;
      padding-top: 150px;
      line-height: 3.8rem;
      font-weight: 400;
   }

   .slidetextt h1 {
      align-items: center;
      margin: auto;
      color: white;
      text-align: center;
      font-weight: 900;
      margin-top: 100px;
      font-size: 20px;
      margin-bottom: 20px;
   }

   .slidetextt p {
      font-size: 15px;
      line-height: 2.5rem;
      align-items: center;
      margin: auto;
      margin-bottom: 30px;
      color: white;
      font-weight: 300;
      text-align: center;
   }

   .slidetextt {
      padding-top: 70px;
   }

   .slide2 {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 50vh;
      /* padding: 70px 0 120px 0; */
      background-image: url(../images/child1bg.jpg);
      margin-top: 100px;
   }
}

@media (max-width: 800px) {
   .ffflex {
      display: block;
   }

   .slidetext h2 {
      font-size: 50px;
      color: white;
      padding-top: 150px;
      line-height: 3.8rem;
      font-weight: 400;
   }

   .slidetextt h1 {
      align-items: center;
      margin: auto;
      color: white;
      text-align: center;
      font-weight: 900;
      margin-top: 20px;
      font-size: 40px;
      margin-bottom: 20px;
   }

   .slidetextt p {
      font-size: 15px;
      line-height: 1rem;
      align-items: center;
      margin: auto;
      margin-bottom: 30px;
      color: white;
      font-weight: 300;
      text-align: center;
   }

   .slidetextt {
      padding-top: 70px;
   }

   .slide2 {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 70vh;
      /* padding: 70px 0 120px 0; */
      background-image: url(../images/child1bg.jpg);
      margin-top: 100px;
   }

   .lineflex {
      display: block;
   }

   .line {
      display: none;
   }

   .smallhead p {
      margin-top: 40px;
      margin-left: 0;
      line-height: 2rem;
      font-size: 17px;
   }

   .smallhead h4 {
      margin-left: 0px;
   }

   .smallhead h3 {
      margin-left: 0px;
   }

   .squareflexmain {
      width: 89%;
   }

   .fourth {
      padding-top: 5px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      margin-top: 130px;
      background: #F7F6F6;
   }

   .thirdcontainer {
      width: 85%;
      margin: auto;
      margin-top: 50px;
   }

   .navigation__menu.open ul li {
      margin-bottom: 40px;
      margin-left: 30px;
      transform: translateY(0);
   }

   .underherobutton button {
      display: none;
   }

   .secondaxis {
      color: #ebebeb;
      margin-left: 33px;
   }

   .underhero p {
      margin-top: -20px;
      font-size: 15px;
   }

   .squareflexmain {
      width: 100%;
   }

   br {
      display: none;
   }

   .things .teengoals {
      font-weight: bolder;
      font-size: 19px;
      padding-right: 10px;
   }

   .third {
      display: block;
      margin-left: 0;
      justify-content: space-between;
   }

   .firstaxis {
      margin-left: 40px;
   }

   .firstaxis img {
      margin-bottom: 30px;
   }
}

/* @media screen and (max-width: 280px) {

    .footer {
        width: 100%;
        height: 170vh;
        padding: 70px 0 0px 0;
    }
} */

/* @media screen and (max-width: 820px) {
    .footer {
        width: 100%;
        height: 90vh;
        padding: 70px 0 0px 0;
    }

} */